<div class="input-group mb-3">
  <input id="search" type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username"
    aria-describedby="basic-addon2" #search>
  <div class="input-group-append">
    <button (click)="doSearch(search.value)" class="btn btn-warning" type="button">Search</button>
  </div>
</div>

<div class="row" *ngIf="books">
  <div *ngFor="let book of books | filter:searchText" class="col-md-4 col-sm-6 mb-3">
    <div class="card">
      <div class="card-header">
        {{ book.subtitle }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.description }}</p>
        <a routerLink="/book/{{ book.id }}" class="btn btn-warning">View</a>
      </div>
    </div>
  </div>
</div>
