<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card bg-dark my-3">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item"><a routerLink="/books" class="btn btn-warning"><i class="fa fa-list"></i> Books</a></li>
              <li class="list-inline-item"><a routerLink="/authors" class="btn btn-warning"><i class="fa fa-users"></i> Authors</a></li>
              <li class="list-inline-item"><a routerLink="/categories" class="btn btn-warning"><i class="fa fa-ellipsis-v"></i> Categories</a></li>
              <li class="list-inline-item"><a routerLink="/book" class="btn btn-warning"><i class="fa fa-plus-square"></i> Book</a></li>
            </ul>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
