<div class="input-group mb-3">
  <input (keyup.enter)="doSearch(search)" [(ngModel)]="search" id="search" type="text" class="form-control"
    placeholder="Search..." autocomplete="off">
  <div class="input-group-append">
    <button [disabled]="!search" (click)="doSearch(search)" class="btn btn-warning" type="button">Search</button>
  </div>
</div>

<div class="row" *ngIf="authors">
  <div *ngFor="let author of authors" class="col-md-4 col-sm-6 mb-3">
    <div class="card">
      <div class="card-header">
        {{ author.first_name }} {{ author.last_name }}
      </div>
      <div class="card-body">
        <p class="card-text">{{ authors | json }}</p>
        <!-- <h5 class="card-title">{{ book.subtitle }}</h5>
        <p class="card-text">{{ book.description }}</p>
        <h6>{{ book.author.first_name }} {{ book.author.last_name }}</h6>
        <span class="badge badge-primary">{{ book.category.category }}</span> -->
      </div>
      <div class="card-footer">
        <button routerLink="/author/{{ author.id }}" class="btn btn-sm btn-warning">View Author &nbsp;<i
            class="fa fa-angle-right"></i></button>
      </div>
    </div>
  </div>
</div>
