<div class="card" *ngIf="author">
  <div class="card-header">
    {{ author.first_name }} {{ author.last_name }}
  </div>
  <div class="card-body">
    <p class="card-text">{{ author | json }}</p>
    <!-- <h5 class="card-title">{{ book.subtitle }}</h5>
      <p class="card-text">{{ book.description }}</p>
      <h6>{{ book.author.first_name }} {{ book.author.last_name }}</h6>
      <span class="badge badge-primary">{{ book.category.category }}</span> -->
  </div>
  <div class="card-footer">
      <a (click)=goBack() class="btn btn-sm btn-warning"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;Go Back</a>
  </div>
</div>
